{{ define "main" }}

{{ partial "page-title.html" . }}
    

{{ with .Params }}
{{ with .about }}
{{ if .enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="lead text-dark">{{.content | markdownify}}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

{{ with .cms }}
{{ if .enable }}
<!-- CMS -->
<section class="section" id="{{ .title | urlize }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title }}</h2>
          <p>{{ .description | markdownify }}</p>
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /CMS -->

  {{ with .hscurriculum }}
  {{ if .enable }}
  <!-- hs curriculum -->
  <section class="section" id="{{ .title | urlize }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title }}</h2>
        <p>{{ .description | markdownify }}</p>
        {{ with .button }}
        {{ if .enable }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hs curriculum -->

<!-- take action -->
{{ with .take_action }}
{{ if .enable }}
  <section class="section" id="{{ .title | urlize }}">
<div class="container">
  <div class="row justify-content-around">
    <div class="col-lg-12 text-center">
      <h2 class="section-title">{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>      
      {{ with .button }}
      {{ if .enable }}
        <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
</section>
{{ end }}
{{ end }}
<!-- ./take action -->

<!-- /with .Params -->
{{ end }}

<!-- /main -->
{{ end }}
