{{ define "main" }}

{{ partial "page-title.html" . }}
    
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range site.Params.social }}
      <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if site.Data.resources.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.resources.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}

  {{ if site.Data.resources.hscurriculum.enable }}
  <!-- hs curriculum -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title">{{ site.Data.resources.hscurriculum.title | markdownify }}</h3>
          <p>{{ site.Data.resources.hscurriculum.description | markdownify }}</p>
          <iframe src="{{ site.Data.resources.hscurriculum.pdf | absURL }}" width="100%" height="500px"></iframe>  
        </div>
      </div>
    </div>
  </section>
  <!-- /hs curriculum -->
  {{ end }}


  {{ if site.Data.resources.cms.enable }}
  {{ with site.Data.resources.cms }}
  <!-- Archive -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          <p>{{ site.Data.resources.cms.description | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
            <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /archive -->
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.service.enable }}
  {{ with site.Data.homepage.service }}
  <!-- Resources/Toolkit -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
        </div>
        {{ range .item }}
        <div class="col-md-4 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="{{.icon }} icon mb-5 d-inline-block"></i>
              <h4 class="mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center">
          {{ if .button.enable }}
          {{ with .button }}
            <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}
  {{ end }}

  <!-- Partners -->
{{ if site.Data.about.work_process.enable }}
{{ with site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>This project is funded with support from the University of California’s Critical Refugee Studies Collective, the National Geographic Society, and the North Carolina Humanities Council.</p>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <a href="{{ .link }}"><img src="{{ .icon | absURL }}" class="mb-4" alt="icon"></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Partners -->

  <!-- TODO: Make horizontal -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-7 text-center">
        <a class="twitter-timeline" data-height="500" data-tweet-limit="3" href="https://twitter.com/ClimRefStories?ref_src=twsrc%5Etfw">Tweets by ClimRefStories</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      </div>
    </div>
  </section>

{{ end }}
