{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Intro Paragraph -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center lead text-dark">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /Intro Paragraph -->

<!-- Resources Sections -->
{{ range .Pages }}
<section class="section" id="{{ .Title | urlize }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Title }}</h2>
          {{ .Content }}
          {{ with .Params.button }}
          {{ if .enable }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{.label}}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Resource Sections -->

<!-- /main -->
{{ end }}
