* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  /* for rem calculation to 10px start */
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
