body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-grey-dark-1);
  font-size: 1.8rem;
}

.heading {
  color: var(--color-black);
  &--primary {
    font-size: 8rem;
  }

  &--secondary {
    font-size: 6rem;
  }

  &--tertiary {
    font-size: 3rem;
  }

  &--quartenary {
    font-size: 2rem;
  }
}

.section-title {
  margin-bottom: 4.5rem;
  font-weight: var(--bold);
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}
