@media(max-width:75em) {
    .tagline-circle {
        padding-right: 8rem;
    }
}
@media(max-width:62em) {
    html {
        font-size: 80%;
    }
    h1,
    .h1 {
      font-size: 4rem;
    }
    h2,
    .h2 {
      font-size: 3.125rem;
    }
    .navigation {
        padding: 20px;
        background: var(--primary-color);

        &.nav-bg {
            padding: 15px 20px
        }
    }
    .main-title {
        height: 50%;
    }
    .contact__form {
        height: 150rem;
    }
}

@media (max-width: 50em) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 37em) {
    html {
        font-size: 60%;
    }
    .main-title {
        gap: 2rem;
    }
    .tagline-circle {

        padding: 3%;

        &-div {
            justify-content: center;
        }

        &::before {
            top: -60%;
            right: 50%;
            height: 100%;
            width: 43%;
            transform: translate(50%, -50%);
        }
    }
    .contact__form {
        height: 200rem;
    }
}

@media (max-width: 25em) {
    .contact__form {
        width: 95%;
        height: 225rem;
        overflow: hidden;
    }
}

@media (max-width: 25em) {
    html {
        font-size: 45%;
    }
}
