.card {
    border: 0;
}

.shadow {
    box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.not-fancy {
    font-family: 'Red Hat Display', sans-serif !important;
}

.search {
    &-row {
        max-height: 5rem;
        margin: 1rem 0 3rem 0;
    }

    &-box {
        z-index: 999;
        max-height: 30rem;
        overflow: auto;
        background: white;
        padding: 1rem;

        // &:hover,
        // &:focus {
        //     border: .5px solid black;
        // }

        // & .pagefind-ui__drawer {
        // }
    }
}