<article class="card">
  <a class="card__img-link" href="{{.Permalink}}" title="{{.Title }}" style="background-image: url('https://drive.google.com/uc?id={{.Params.Thumbnail | safeURL }}');">&nbsp;</a>
  <div class="card__body">
    <a class="card__title" href="{{.Permalink}}">
      {{.Title }}
    </a>
    <div class="card__content">
      <p class="card__text">{{.Summary}}</p>
      <a href="{{.Permalink}}" class="btn btn--sm btn--primary card__btn">Read More</a>
    </div>
  </div>
</article>
