  <!-- This is a default single page (getting used for Stories) -->
{{ define "main" }}

  {{ partial "page-title-post.html" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center mb-4 main-blog-image">
          <img src="https://photos.smugmug.com/photos/{{ .Params.image }}/0/O/{{ .Params.image }}-O.png#caption" alt="{{.Title}}">
          <p class="font-secondary"><i>{{ .Params.image_caption | markdownify }}</i></p>
        </div>
        <div class="col-lg-9">
          <div class="content">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
