{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center mb-4">
          <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4 main-blog-image">
          <p class="font-secondary"><i>{{ .Params.image_description }} Photo Credit: <a href="{{ .Params.image_source_link }}" target="_blank">{{ .Params.image_source }}</a></i></p>
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary"><a href="{{ .Params.author_link }}" target="_blank">{{ .Params.Author }}</a></span></p>
        </div>
        <div class="col-lg-9">
          <div class="content">
            {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}