.header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    height: 9rem;
    font-size: 1.2rem;
    position: fixed;
    width: 100vw;
    z-index: 1000;

    &__title {

        &-link {
            text-decoration: none;
            color: var(--color-white);
        }

    }
}
