{{ define "main" }}

<!-- page title -->
<section class="page-title-alt position-relative overflow-hidden bg-shape-about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white font-tertiary">{{ .Title }}</h2>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <!-- <img src="{{`images/illustrations/leaf-bg.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100 bg-shape-about"> -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
{{ with site.Data.about.work_process }}
{{ if .enable }}
<section class="section" id="{{ .title | urlize }}">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .about }}</p>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <a href="{{ .link }}"><img src="{{ .icon | absURL }}" class="mb-4" alt="icon"></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- CRS Team -->
<section class="section bg-cover" id="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Our Team</h2>
      </div>
      {{ range .Pages }}
      {{ if .Params.image }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <a href="{{ .Permalink }}">
            <img src="{{ .Params.image | absURL }}" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{.Title }}</h4>
              <p class="text-light font-secondary">{{.Params.designation }}</p>
            </div>
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /team -->


<!-- CRS News -->
{{ with site.GetPage "/about/crs-news.md" }}
<section class="section" id="{{ .Title | urlize }}">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Title }}</h2>
        <div class="col-lg-9 mx-auto text-center">
          <p> {{ .Description | markdownify }}</p><br/><br/>
        </div>
      </div>
      <div class="col-9 content">
        {{ .Content }}
        <div class="mx-auto text-center">
        {{ with site.Data.about.see_more_news }}
          {{ if .button.enable }}
          {{ with .button }}
          <br/>
          <a href="{{ .URL | absURL }}" class="btn btn-transparent" target="_blank">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /CRS News -->

{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
