{{ define "main" }}

<!-- page title -->
<section class="page-title-alt position-relative overflow-hidden bg-shape-about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <!-- <img src="{{`images/illustrations/leaf-bg.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100 bg-shape-about"> -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="https://photos.smugmug.com/photos/{{.Params.author_image }}/0/O/{{.Params.author_image }}-O.png" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- CRS Team -->
<section class="section bg-cover" id="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Our Team</h2>
      </div>
      {{ range .Pages }}
      {{ if .Params.image }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <a href="{{ .Permalink }}">
            <img src="https://photos.smugmug.com/photos/{{ .Params.image }}/0/O/{{ .Params.image }}-O.png" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">{{.Title }}</h4>
              <p class="text-light font-secondary">{{.Params.designation }}</p>
            </div>
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /team -->

<!-- Work Process -->
{{ with .Params.partners }}
<section class="section" id="{{ .title | urlize }}">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title }}</h2>
        <p>{{ .about }}</p>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 hover-shadow pt-3  d-flex justify-content-center align-items-center">
        <a href="{{ .link }}"><img src="https://photos.smugmug.com/photos/{{ .logo }}/0/O/{{ .logo }}-O.png" class="img-fluid mb-4" alt="icon"></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- ./Work Process -->


<!-- CRS News -->
{{ range .Pages }}
{{ if .Params.button }}
<section class="section" id="{{ .Title | urlize }}">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .Title }}</h2>
        {{ with .Description }}
        <div class="col-lg-9 mx-auto text-center">
          <p> {{ . | markdownify }}</p><br/><br/>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-9 content">
        {{ .Content }}
        <div class="mx-auto text-center">
        {{ with .Params.button }}
        {{ if .enable }}
        <br/>
        <a href="{{ .URL | absURL }}" class="btn btn-transparent" target="_blank">{{.label}}</a>
        {{ end }}
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /CRS News -->

<!-- {{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }} -->

{{ end }}
