{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white font-tertiary">{{ .Title }}</h2>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/dots-group-sm.svg`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-left drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="https://photos.smugmug.com/photos/{{ .Params.image }}/0/O/{{ .Params.image }}-O.png" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <div class="">
          <ul class="list-unstyled social-icons__box">
            {{ $socials := .Params.socials }}
            {{ if gt ($socials) 0 }}
            {{ range $social_key, $social_val := $socials}}
            <li>
              <a class="text-primary social-icons__item" href="{{ $social_val }}" target="_blank">
                <i class="ti-{{ $social_key }}"></i>
              </a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        <strong>Location:</strong> {{ .Params.location }}<br>
        <!-- <strong>Designation:</strong> {{ .Params.designation }}<br> -->
        <strong>Work Area:</strong> {{ .Params.work_area }}<br>
      </div>
      <div class="col-md-8">
        {{ with .Params.recent_publications }}
          <strong>Recent Publications</strong><br>
          {{ range . }}
            {{ . | markdownify }}<br>
          {{ end }}
        {{ end }}
        {{ with .Params.recent_projects }}
          <strong>Recent Projects</strong><br>
          {{ range . }}
            {{ . | markdownify }}<br>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->



{{ end }}
