{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section section-on-footer" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80"><strong>Want to get in touch?</strong></h4>
            <div class="col-lg-6 col-10 mx-auto">
              <a href="https://climate-refugee-stories.github.io/crs-website/contact"><button class="btn btn-primary w-100">Contact Us</button></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}
