<header class="header">
  <div class="header__title-box">
    <a class="header__title-link" href="{{ site.BaseURL }}">
      <h1 class="heading--primary header__title">{{site.Title}}</h1>
    </a>
  </div>
  <div class="navigation">
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="{{ site.BaseURL }}">{{ with site.Params.Home }} {{ . }} {{ end }}</a>
        </li>
        {{ $current := . }}
        {{ range site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $current.Title) }}
        <li class="navigation__item {{ if $active }}active{{ end }}">
          <a class="navigation__link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
