{{ $img := .Params.banner.background_img }}
{{ $title := or .Params.banner.title .Title }}
{{ $defaultImg := "i-ptQrJ35" }} {{/* fallback if none provided */}}

<section class="page-title position-relative overflow-hidden" style="background-image: url('https://photos.smugmug.com/photos/{{ cond $img $img $defaultImg }}/0/O/{{ cond $img $img $defaultImg }}-O.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-white font-tertiary">{{ $title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
