<div class="col-12 justify-content-end d-flex">
    <div id="search" class="col-lg-4 search-box"></div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showImages: false });
        setTimeout(function () {
            if (document.querySelectorAll('.pagefind-ui__form > div > .pagefind-ui__search-input').length == 0) {
                var fragment = document.createDocumentFragment();
                fragment.appendChild(document.createElement("div"));
                fragment.children[0].id = "pagefind-custom_div";
                fragment.children[0].appendChild(document.querySelectorAll('.pagefind-ui__search-input')[0]);
                fragment.children[0].appendChild(document.querySelectorAll('.pagefind-ui__search-clear')[0]);
                document.querySelectorAll('.pagefind-ui__form')[0].prepend(fragment);
            };
        }, 0)
    });
</script>
