{{ define "main" }}

{{ with .Params }}

  <!-- Hero Area -->
  {{ with .banner }}
  <section class="hero-area">
    <div class="main-title">
      <div class="container main-circle">
        <div class="row align-items-center justify-content-center">
          <div class="row align-items-start col-lg-8 tagline-circle-div">
            <h3 class="text-white text-center home-tagline tagline-circle">{{ .title | safeHTML }}</h3>
          </div>
        </div>
      </div>

      <!-- Social Icons -->
      <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        {{ with (site.GetPage `/contact`).Params.socials }}
        {{ range . }}
        <li class="mb-3 social-icons-home">
          <a class="text-primary" href="{{ .URL | safeURL }}" target="_blank">
            <i class="{{ .icon }}"></i>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <!-- /Social Icons -->
    </div>
  </section>
  {{ end }}
  <!-- /Hero Area -->

  <!-- About Section -->
  {{ with .about }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <p class="homepage-abt-txt">{{ .content | markdownify }}</p>
          {{ with .button }}
            {{ if .enable }}
            <br/>
            <a href="{{ .URL | absURL }}" class="btn btn-sm btn-primary">{{ .label }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /About -->

  <!-- Stories Section -->
  {{ with .stories }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .title }}</h2>
          <p class="lead">{{ .description | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /Stories -->

  <!-- Archive Section -->
  {{ with .archive }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .title }}</h2>
        </div>
      </div>

      <div class="row shuffle-wrapper">
        {{ range first .item_show (where site.RegularPages "Section" "archive") }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="https://photos.smugmug.com/photos/{{ .Params.thumbnail }}/0/S/{{ .Params.thumbnail }}-S.png" alt="archive-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .Permalink | safeURL }}">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      {{ with .button }}
        {{ if .enable }}
        <div class="col-12 text-center mt-3">
          <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{ .label }}</a>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}
  <!-- /Archive -->

  <!-- Resources Section -->
  {{ with .resources }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ .title }}</h2>

          <div class="resources-spotify mt-4">
            <div class="spotify-responsive">
              <iframe 
                src="https://open.spotify.com/embed/playlist/78PUJJfxUPSQQJSyh9CTGZ?utm_source=generator&theme=0" 
                frameborder="0" 
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                allowfullscreen>
              </iframe>
            </div>
          </div>

          {{ with .button }}
            {{ if .enable }}
            <div class="col-12 text-center mt-3">
              <a href="{{ .URL | absURL }}" class="btn btn-transparent">{{ .label }}</a>
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /Resources -->

  <!-- Partners Section -->
  {{ with (site.GetPage `/about`).Params.partners }}
  {{ if .enable }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ .title }}</h2>
          <p>{{ .about | markdownify }}</p>
        </div>
        {{ range .item }}
        <div class="col-lg-3 col-md-4 hover-shadow pt-3 d-flex justify-content-center align-items-center">
          <a href="{{ .link }}">
            <img src="https://photos.smugmug.com/photos/{{ .logo }}/0/O/{{ .logo }}-O.png" class="img-fluid mb-4" alt="partner logo">
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  <!-- /Partners -->

  <!-- Twitter Feed -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-7 text-center">
          <a class="twitter-timeline" data-height="500" data-tweet-limit="3" href="https://twitter.com/ClimRefStories?ref_src=twsrc%5Etfw">
            Tweets by ClimRefStories
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
  <!-- /Twitter Feed -->

{{ end }}

{{ end }}
