{{ define "main" }}

{{ partial "page-title-post.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-5">
        <img src="{{ .Params.image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
      </div>
      <div class="col-lg-7 mb-5 mb-lg-0 align-self-center">
        <div class="row mx-0">
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ml-3">
                <h4>Date</h4>
                <p>{{ .PublishDate.Format "Jan 02, 2006" }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.Client}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-user"></i>
              <div class="ml-3">
                <h4>Client</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-folder"></i>
              <div class="ml-3">
                <h4>Categories</h4>
                {{ $tags := slice }}
                {{ $tags = .Params.categories }}
                {{ $tags = $tags | append .Params.alt_cat }}
                <p>{{ delimit $tags ", " | title }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.project_url}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-link"></i>
              <div class="ml-3">
                <h4>Project Link</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-11">
        <h3>Intro</h3>
        {{ .Description | markdownify }}
      </div>
      <div class="col-lg-11">
        <h3>Media</h3>
        <h4>Pictures</h4>
        <div class="archive_gallery_container">
          {{ range .Site.Data.archive }}
            <figure class="archive_gallery_figure">
              <img src="https://drive.google.com/uc?id={{ index . `Google Photo ID` }}" alt="{{ index . `Alt Text` }}" />
              <figcaption class="caption">{{ .Description | truncate 40 }}</figcaption>
            </figure>
          {{ end }}
        </div>
        <h4>Videos</h4>
      </div>
      <div class="col-lg-11">
        <h3>Read more...</h3>
        <div class="content">{{.Content}}</div>
      </div>
      <div class="col-lg-11">
        <h3>Related</h3>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}