<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Get in Touch</h2>
      </div>
      <div class="col-12 row" style="justify-content: center;">
        <div class="col-6 border-right">
          <ul class="list-inline social-icons text-center">
            <h4 class="mb-4"><strong>Follow us on social media</strong></h4>
            {{ range site.Params.social }}
            <li class="list-inline-item"><a href="{{.URL}}"  target="_blank"><i class="{{.icon}}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-6 text-center">
          <h4 class="mb-4"><strong>Sign up for our email newsletter</strong></h4>
          <div class="mx-auto">
            <a href="https://climaterefugeestories.substack.com/p/coming-soon?showWelcome=true"><button class="btn btn-primary w-60">Subscribe</button></a>
          </div>
        </div>
    </div>
        <div class="row col-12 text-center">
          <div class="col-lg-8 mx-auto">
            <br/><br/>
            <br/><br/>
            <!-- <h4><strong>Send us a message</strong></h4> -->
            <div class="bg-white rounded text-center p-5 shadow-down">
              <h4 class="mb-80"><strong>Send us a message</strong></h4>
              <form action="{{site.Params.contact.form_action}}" method="POST" enctype="text/plain" class="row">
                <div class="col-md-6">
                  <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
                </div>
                <div class="col-md-6">
                  <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
                </div>
                <div class="col-12">
                  <textarea name="message" id="message" class="form-control px-0 mb-4"
                    placeholder="Type Message Here"></textarea>
                </div>
                <div class="col-lg-6 col-10 mx-auto">
                  <input type="submit" name="send" value="Send" class="btn btn-primary w-80"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-12">
        <div class="col-12 text-center">
          <h4 class=""><strong><span style="font-size:24px;">&#9993;</span> climaterefugeestories@gmail.com</strong></h4>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="section">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Get Involved</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfBrrMWkMs_zvikNMEb1P-4HbIl1QyXSPjJDKH7eoRokkczpA/viewform?embedded=true" 
        width="640" height="1933" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    </div>
  </div>
</section>

{{- partial "footer-contact.html" . -}}
</body>

</html>