<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}

{{ partial "page-title.html" . }}

{{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        {{"<!-- Google Map -->" | safeHTML}}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow Us</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.URL}}"  target="_blank"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
        <div class="col-12 text-center">
          <br/><br/>
          <h4 class=""><strong>Sign up for our email newsletter</strong></h4>
          <br/>
          <div class="col-lg-3 col-10 mx-auto">
            <a href="https://climaterefugeestories.substack.com/p/coming-soon?showWelcome=true"><button class="btn btn-primary w-100">Subscribe</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-12">
        <div class="col-12 text-center">
          <h4 class=""><strong><span style="font-size:24px;">&#9993;</span> climaterefugeestories@gmail.com</strong></h4>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Get Involved</h2>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfBrrMWkMs_zvikNMEb1P-4HbIl1QyXSPjJDKH7eoRokkczpA/viewform?embedded=true" 
        width="640" height="1933" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    </div>
  </div>
</section>

{{- partial "footer-contact.html" . -}}
</body>

</html>