<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}

{{ partial "page-title.html" . }}

<!-- {{ if site.Params.map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Find me on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }} -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Params.contact_title }}</h2>
      </div>
      <div class="col-12 row" style="justify-content: center;">
        {{ $socials_text := .Params.socials_text }}
        {{ with .Params.socials }}
        <div class="col-6 border-right">
          <ul class="list-inline social-icons text-center">
            <h4 class="mb-4">
              <strong>{{ $socials_text }}</strong>
            </h4>
            {{ range . }}
            <li class="list-inline-item">
              <a href="{{.URL}}"  target="_blank">
                <i class="{{.icon}}"></i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        {{ $newsletter_text := .Params.newsletter_text }}
        {{ with .Params.newsletter_button }}
        {{ if .enable }}
        <div class="col-6 text-center">
          <h4 class="mb-4"><strong>{{ $newsletter_text }}</strong></h4>
          <div class="mx-auto">
            <a href="{{ .URL }}"><button class="btn btn-primary w-60">{{ .label }}</button></a>
          </div>
        </div>
      </div>
        {{ end }}
        {{ end }}
        {{ $form_text := .Params.form_text }}
        {{ with .Params.form_button }}
        {{ if .enable }}
        <div class="row col-12 text-center">
          <div class="col-lg-8 mx-auto">
            <br/><br/>
            <br/><br/>
            <!-- <h4><strong>Send us a message</strong></h4> -->
            <div class="bg-white rounded text-center p-5 shadow-down">
              <h4 class="mb-80"><strong>{{ $form_text }}</strong></h4>
              <form action="{{ .URL }}" method="POST" class="row">
                <div class="col-md-6">
                  <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4" required>
                </div>
                <div class="col-md-6">
                  <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4" required>
                </div>
                <div class="col-12">
                  <textarea name="message" id="message" class="form-control px-0 mb-4"
                    placeholder="Type Message Here" required></textarea>
                </div>
                <div class="col-lg-6 col-10 mx-auto">
                  <input type="submit" name="send" value="{{ .label }}" class="btn btn-primary w-80"/>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
  </div>
</section>

<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-12">
        <div class="col-12 text-center">
          <h4 class=""><strong><span style="font-size:24px;">&#9993;</span> climaterefugeestories@gmail.com</strong></h4>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="section">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Params.google_form_title }}</h2>
        <iframe class="contact__form" src="{{ .Params.google_form_link }}" 
        >Loading…</iframe>
    </div>
    </div>
  </div>
</section>

{{- partial "footer.html" . -}}
</body>

</html>
