{{ define "main" }}
  {{ partial "page-title.html" . }}
  
  <section class="section">
    <div class="container">
      <div class="row search-row">
        {{ partial "search.html" . }}
      </div>
      
<!-- Story Map -->
 {{ with site.Home.Params.stories.map }}
      <div class="row mb-4">
        <div class="col-12">
          <iframe
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            title="Stories Map"
            class="w-100"
            src="{{ . }}">
          </iframe>
        </div>
      </div>
      {{ end }}
<!-- /Story Map -->
        
<!-- Story gallery -->   
      <div class="gallery">
        {{ range .Pages }}
          {{ partial "stories/story-card.html" . }}
        {{ end }}
      </div>
<!-- Story Gallery -->
  
      <!-- remove pagination from stories page
      <div class="row justify-content-center mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
      -->

    </div> <!-- /.container -->
  </section>
{{ end }}
