{{ $region := index .Params.alt_cat 0 | lower | urlize }}
<div class="col-md-4 mb-4">
  <div class="story-card border-{{ $region }} position-relative p-3 h-100">

    <!-- Optional Ribbon Badge -->
    <div class="ribbon ribbon-{{ $region }}">{{ index .Params.alt_cat 0 }}</div>

    <!-- Image -->
    {{ with .Params.thumbnail }}
    <img src="https://photos.smugmug.com/photos/{{ . }}/0/S/{{ . }}-S.png" alt="Thumbnail" class="img-fluid rounded mb-3 w-100">
    {{ end }}

    <!-- Title -->
    <h5 class="font-weight-bold">{{ .Title }}</h5>

    <!-- Excerpt -->
    <p>{{ .Summary }}</p>

    <!-- Button -->
    <a href="{{ .Permalink }}" class="btn btn-outline-primary btn-sm">Read More</a>

  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row search-row">
      {{ partial "search.html" . }}
    </div>
    <div class="row" id="masonry-grid">
      {{ range (.Paginator 9).Pages }}
        <div class="col-lg-4 col-md-6 mb-4 masonry-item">
          {{ .Render "post" }}
        </div>
      {{ end }}
    </div>
    <div class="row justify-content-center mt-5">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
