<div class="carousel__container">
  {{ range $elem_val := (split (trim .Inner "\n") "\n") }}
    <figure class="carousel__figure">
      {{ $caption_text := index (split $elem_val `|`) 1}}
      {{ $photo_id := index (split $elem_val `|`) 0 | safeURL }}
      <img src="https://photos.smugmug.com/photos/{{ $photo_id }}/0/S/{{ $photo_id }}-S.png" alt="{{ $caption_text | truncate 40 }}" />
      {{ with $caption_text }}
      <figcaption class="carousel__caption">{{ . | markdownify }}</figcaption>
      {{ end }}
    </figure>
  {{ end }}
</div>
